.form {
  width: 334px;
  margin-top: 48px;
  display: flex;
  flex-direction: column;

  font-family: 'Source Sans Pro', sans-serif;
  color: #000000;
}

.form-row {
  margin-bottom: 36px;
}

.form-label {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
}

.form-input {
  border: 1px solid #bcbcbc;
  border-radius: 5px;
  width: 334px;
  height: 48px;
  margin-top: 12px;

  padding: 0 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.error {
  margin-top: 12px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: #d62c2c;
}

.drop {
  width: 329px;
  height: 128px;
  border: 2px dashed #bcbcbc;
  border-radius: 5px;
  margin-top: 12px;
  display: flex;
  justify-content: center;
  align-items: center;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 23px;
  color: #8f8f8f;
}

.buttonsRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.loginBtn {
  background-color: #fd0157;
  border-radius: 5px;
  border: none;
  width: 334px;
  height: 48px;
  margin-top: 13px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #ffffff;
}

.loginBtn:hover {
  background-color: #d8064c;
}

.submitBtn {
  background-color: #fd0157;
  border-radius: 5px;
  border: none;
  width: 179px;
  height: 48px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;

  color: #ffffff;
}

.submitBtn:hover {
  background-color: #d8064c;
}

.cancelBtn {
  width: 132px;
  height: 48px;
  background: #ffffff;
  border: 1px solid #bcbcbc;
  box-sizing: border-box;
  border-radius: 5px;

  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #040404;
}
