.movieList-wrapper {
  height: 100vh;
  padding: 120px;
}

table {
  width: 100%;
  margin-top: 50px;
  border-collapse: collapse;
  font-family: 'Source Sans Pro', sans-serif;
}

th {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  color: #000000;
  padding-bottom: 30px;
}

td {
  border-bottom: 1px solid #bcbcbc;
  padding: 20px 0;

  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #000000;
}

th:first-child {
  text-align: left;
}

td:first-child {
  text-align: left;
  padding-left: 15px;
}

th:last-child {
  text-align: right;
  padding-right: 30px;
}

.coverImg {
  height: 60px;
  width: 60px;
  border-radius: 6px;
}

.options {
  text-align: right;
  height: 100%;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.editBtn {
  color: #000000;
  padding-right: 45px;
  margin-bottom: 10px;
}

.deleteBtn {
  color: #cf1313;
  padding-right: 35px;
  margin-top: 10px;
}

.editBtn,
.deleteBtn {
  background: transparent;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  cursor: pointer;
}

.movieList_header {
  display: flex;
  align-items: center;
}

.movieList_btnNew {
  border: none;
  border-bottom: 1px solid currentColor;
  background-color: transparent;
  font-weight: 600;
  font-size: 18px;
  color: #fd0157;
  cursor: pointer;
  padding-bottom: 2px;
  margin-top: 11px;
  margin-left: 40px;
  display: inline-block;
  outline: none;
  transition: all 0.3s;
}

.movieList_btnNew:hover {
  color: #d6044a;
}

.movieList_btnNew span {
  margin-left: 3px;
  transition: all 0.2s;
}

.movieList_btnNew:hover span {
  margin-left: 8px;
}
